#box {
	height: auto;
	width: 1004px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#top {
	background-image: url(../images/801.jpg);
	background-repeat: no-repeat;
	height: 423px;
	width: 923px;
	padding-left: 81px;
}
#menu {
	height: 40px;
	width: 740px;
	margin-left: 215px;
}
#menu li {
	font-family: "ו";
	font-size: 12px;
	line-height: 40px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	margin-right: 17px;
	margin-left: 17px;
	list-style-type: none;
}
#login {
	background-image: url(../images/802.gif);
	background-repeat: no-repeat;
	float: left;
	height: 130px;
	width: 215px;
	margin-top: 125px;
	margin-left: 5px;
	padding-top: 50px;
	padding-left: 17px;
}
#login_user, #login_pass {
	background-color: #CCF5F7;
	height: 16px;
	width: 80px;
	border: 1px solid #58C8E0;
	margin-top: 5px;
}
#login_ok {
	float: right;
	margin-right: 15px;
}
#login img {
	float: left;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 2px;
}
#top_pic {
	float: left;
	height: 132px;
	width: 588px;
	margin-top: 121px;
	margin-left: 9px;
	padding-top: 52px;
	background-image: url(../images/806.gif);
	background-repeat: no-repeat;
}
#top_pic1 {
	text-align: center;
	float: left;
	height: 132px;
	width: 126px;
	margin-left: 6px;
}
#top_pic2 {
	text-align: center;
	float: left;
	height: 132px;
	width: 126px;
	margin-left: 19px;
}
#top_pic3 {
	text-align: center;
	float: left;
	height: 132px;
	width: 126px;
	margin-left: 19px;
}
#top_pic4 {
	text-align: center;
	float: left;
	height: 132px;
	width: 126px;
	margin-left: 19px;
}
#pop {
	background-image: url(../images/811.gif);
	background-repeat: no-repeat;
	clear: left;
	height: 78px;
	width: 838px;
}
#main {
	width: 847px;
	margin-left: 78px;
	height: auto;
}
#hot {
	background-image: url(../images/812.gif);
	background-repeat: no-repeat;
	float: left;
	height: 440px;
	width: 232px;
	margin-left: 5px;
	padding-top: 61px;
}
#hot dt {
	line-height: 19px;
	background-image: url(../images/813.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	width: 159px;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
}
#hot dd {
	float: left;
	width: 22px;
	height: 16px;
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
}
#new {
	background-image: url(../images/816.gif);
	background-repeat: no-repeat;
	float: left;
	height: 493px;
	width: 581px;
	margin-left: 13px;
	padding-top: 8px;
}
#search {
	line-height: 24px;
	background-image: url(../images/817.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 32px;
	width: 505px;
	margin-left: 70px;
}
#search_name {
	height: 20px;
	width: 117px;
	border: 1px solid #9A9A9A;
	font-family: "ו";
	font-size: 12px;
	color: #666666;
	vertical-align: text-bottom;
	float: left;
	margin-right: 5px;
}
#search_list {
	font-family: "ו";
	font-size: 12px;
	height: 22px;
	width: 82px;
	float: left;
	margin-right: 5px;
}
#search_ok {
	margin-right: 10px;
	float: left;
}
#form2 span {
	margin-right: 5px;
	margin-left: 5px;
}
#left_list {
	float: left;
	height: 443px;
	width: 394px;
	margin-top: 18px;
}
#list_title1 {
	background-image: url(../images/819.gif);
	background-repeat: no-repeat;
	text-align: right;
	height: 23px;
	width: 387px;
	padding-top: 10px;
	padding-right: 7px;
}
#list1 {
	height: 176px;
	width: 394px;
}
#list1 dt {
	line-height: 21px;
	float: left;
	height: 21px;
	width: 283px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
}
#list1 img {
	margin-top: 2px;
	margin-right: 8px;
	float: left;
}
#list_title2 {
	background-image: url(../images/832.gif);
	background-repeat: no-repeat;
	text-align: right;
	height: 23px;
	width: 387px;
	padding-top: 10px;
	padding-right: 7px;
	margin-top: 13px;
}
#list2 {
	height: 176px;
	width: 394px;
}
#list2 dt {
	line-height: 21px;
	float: left;
	height: 21px;
	width: 283px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
}
#list2 img {
	margin-top: 2px;
	margin-right: 8px;
	float: left;
}
#right_list {
	float: left;
	height: 443px;
	width: 187px;
	margin-top: 18px;
}
#right_list li {
	line-height: 32px;
	font-weight: bold;
	background-image: url(../images/833.gif);
	background-repeat: no-repeat;
	background-position: 17px center;
	padding-left: 35px;
	list-style-type: none;
}
#nav {
	background-image: url(../images/834.gif);
	background-repeat: no-repeat;
	clear: left;
	height: 48px;
	width: 652px;
	padding-top: 9px;
	padding-left: 195px;
}
#nav li {
	line-height: 48px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/835.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	width: 75px;
	padding-left: 17px;
	list-style-type: none;
}
#nav_list {
	height: 527px;
	width: 847px;
	margin-top: 11px;
}
#nav_list1 {
	background-image: url(../images/836.gif);
	background-repeat: no-repeat;
	float: left;
	height: 207px;
	width: 163px;
	padding-top: 47px;
}
#nav_list1 li {
	line-height: 19px;
	color: #4BAB01;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list1 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list2 {
	background-image: url(../images/837.gif);
	background-repeat: no-repeat;
	float: left;
	height: 207px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list2 li {
	line-height: 19px;
	color: #FF6801;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list2 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list3 {
	background-image: url(../images/838.gif);
	background-repeat: no-repeat;
	float: left;
	height: 207px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list3 li {
	line-height: 19px;
	color: #656565;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list3 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list4 {
	background-image: url(../images/839.gif);
	background-repeat: no-repeat;
	float: left;
	height: 207px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list4 li {
	line-height: 19px;
	color: #1D8ADC;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list4 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list5 {
	background-image: url(../images/840.gif);
	background-repeat: no-repeat;
	float: left;
	height: 207px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list5 li {
	line-height: 19px;
	color: #FF3167;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list5 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list6 {
	background-image: url(../images/841.gif);
	background-repeat: no-repeat;
	float: left;
	height: 226px;
	width: 163px;
	padding-top: 47px;
}
#nav_list6 li {
	line-height: 19px;
	color: #208BD9;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list6 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list7 {
	background-image: url(../images/842.gif);
	background-repeat: no-repeat;
	float: left;
	height: 226px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list7 li {
	line-height: 19px;
	color: #4AAE00;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list7 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list8 {
	background-image: url(../images/843.gif);
	background-repeat: no-repeat;
	float: left;
	height: 226px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list8 li {
	line-height: 19px;
	color: #FF6503;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list8 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list9 {
	background-image: url(../images/844.gif);
	background-repeat: no-repeat;
	float: left;
	height: 226px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list9 li {
	line-height: 19px;
	color: #FE3464;
	background-image: url(../images/846.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDCDCD;
	list-style-type: none;
}
#nav_list9 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#nav_list10 {
	background-image: url(../images/845.gif);
	background-repeat: no-repeat;
	float: left;
	height: 226px;
	width: 163px;
	padding-top: 47px;
	margin-left: 8px;
}
#nav_list10 img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#bottom {
	background-image: url(../images/846.jpg);
	background-repeat: no-repeat;
	height: 430px;
	width: 848px;
	clear: left;
	padding-right: 78px;
	padding-left: 78px;
}
#bottom_left {
	float: left;
	height: 300px;
	width: 200px;
}
#vote {
	background-image: url(../images/847.gif);
	background-repeat: no-repeat;
	height: 110px;
	width: 200px;
	padding-top: 50px;
}
#help {
    line-height: 20px;
	background-image: url(../images/848.gif);
	background-repeat: no-repeat;
	height: 79px;
	width: 200px;
	padding-top: 61px;
}
#help img {
	float: left;
}
#bottome_main {
	float: left;
	height: 300px;
	width: 470px;
	margin-left: 4px;
}
#list_title {
	height: 29px;
	width: 470px;
	background-image: url(../images/854.gif);
	background-repeat: repeat-x;
}
#music_list {
	height: 52px;
	width: 450px;
	margin-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	line-height: 25px;
}
#music_list span {
	margin-left: 10px;
	margin-right: 10px;
}
#dp_list {
	height: 52px;
	width: 450px;
	margin-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	line-height: 25px;
}
#dp_list span {
	margin-left: 10px;
	margin-right: 10px;
}
#zj_list {
	height: 80px;
	width: 450px;
	margin-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	line-height: 25px;
}
#zj_list span {
	margin-left: 10px;
	margin-right: 10px;
}
#game_list {
	height: 52px;
	width: 450px;
	margin-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	line-height: 25px;
}
#game_list span {
	margin-left: 10px;
	margin-right: 10px;
}

#bottom_right {
	float: left;
	height: 211px;
	width: 169px;
	margin-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	background-image: url(../images/855.gif);
	background-repeat: no-repeat;
	padding-top: 32px;
}
#bottom_right li {
	line-height: 18px;
	background-image: url(../images/856.gif);
	background-repeat: no-repeat;
	background-position: 7px center;
	padding-left: 17px;
	list-style-type: none;
}
#bottom_adress {
	line-height: 18px;
	background-image: url(../images/857.gif);
	background-repeat: no-repeat;
	clear: left;
	height: 67px;
	width: 824px;
	margin-left: 3px;
	padding-left:15px;
	padding-top: 5px;
}
