<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="src/image/network.ico">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>TEST</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
  <div class="span1 col-lg-offset-1">a</div>
  <div class="span2 col-lg-offset-1">b</div>
  <div class="span3 col-lg-offset-1">c</div>
  <div class="span4 col-lg-offset-1">d</div>
  <div class="span5 col-lg-offset-1">e</div>
  <div class="span6 col-lg-offset-1">f</div>
</div>

<!--
===================js==============================
-->
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>