<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        ">
        
     <aop:config proxy-target-class="true"></aop:config>
     <context:component-scan base-package="com.study.it.ui"/> <!--控制这个路径下的所有controller-->
	 
	 <!-- 不拦截 -->
	<mvc:resources location="/imgs/" mapping="/imgs/*" />
	<mvc:resources location="/js/" mapping="/js/*" />
	<mvc:resources location="/css/" mapping="/css/*" />
	<mvc:resources location="/down/" mapping="/down/*" />
	
	<mvc:annotation-driven><!-- 注解 -->
		        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            
        </mvc:message-converters>
	</mvc:annotation-driven>

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"
		p:viewClass="org.springframework.web.servlet.view.JstlView">
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8" p:maxUploadSize="62914560"
		p:maxInMemorySize="4096"
		p:uploadTempDir="upload/temp"
		>
	</bean>
	<mvc:interceptors>
	  <mvc:interceptor>
	     <mvc:mapping path="/**"/>
	     <!-- <mvc:exclude-mapping path="/idea/list"/>
	     <mvc:exclude-mapping path="/idea/detail"/> -->
	    <bean class="com.study.it.ui.interceptor.LoginInterceptor"
	       p:userKey="emp"  p:loginRedirect="/myideas/login"
	    />  
	   </mvc:interceptor>
	</mvc:interceptors>
<!-- 
   <mvc:interceptors>  
	    使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求   
	   
	   <mvc:interceptor>  
	         <mvc:mapping path="/buycar/**"/>  
	         <mvc:mapping path="/order/**"/>  
	        定义在mvc:interceptor下面的拦截器表示对以上路径的请求进行拦截
	         <bean class="com.study.it.ui.interceptpr.MemLoginIntercepter"/>  
	    </mvc:interceptor> 
	</mvc:interceptors> -->
	
</beans>