<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyl.ms.modules.system.mapper.SystemAreaMapper">
	<resultMap type="org.zyl.ms.modules.system.entity.SystemArea" id="SystemArea">
		<id column="id" property="id"/>
		<result column="area_code" 				property="areaCode"/>
		<result column="area_name" 				property="areaName"/>
		<result column="area_level" 			property="areaLevel"/>
		<result column="city_code" 				property="cityCode"/>
		<result column="city_center" 			property="cityCenter"/>
		<result column="area_parent_id" 		property="areaParentId"/>
	</resultMap>
 
	<insert id="create" parameterType="org.zyl.ms.modules.system.entity.SystemArea">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_system_area(
			area_code,
			area_name,
			area_level,
			city_code,
			city_center,
			area_parent_id
		)values(
			#{areaCode},
			#{areaName},
			#{areaLevel},
			#{cityCode},
			#{cityCenter},
			#{areaParentId}
		)
	</insert>

	<select id="query" resultMap="SystemArea">
		select * from tb_system_area
		<include refid="SystemAreaFindCriteria"/>
		<if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
		<if test="offset!=null and rows!=null">limit ${rows} offset ${offset}</if>
	</select>
	
	<select id="count" resultType="int">
		select count(1) from tb_system_area
		<include refid="SystemAreaFindCriteria"/>
	</select>
	
	<select id="detail" resultMap="SystemArea">
		select * from tb_system_area
		<include refid="SystemAreaFindCriteria"/>
		limit 1
	</select>
	
	<delete id="delete">
		delete from tb_system_area
		<include refid="SystemAreaFindCriteria" />
	</delete>
	<update id="update">
		update tb_system_area
		<include refid="SystemAreaUpdateCriteria"/>
		<include refid="SystemAreaFindCriteria"/>
	</update>
	<sql id="SystemAreaFindCriteria">
		<where>
			<if test="areaCode != null">and area_code = #{areaCode}</if>
			<if test="areaName != null">and area_name = #{areaName}</if>
			<if test="areaLevel != null">and area_level = #{areaLevel}</if>
			<if test="cityCode != null">and city_code = #{cityCode}</if>
			<if test="cityCenter != null">and city_center = #{cityCenter}</if>
			<if test="areaParentId != null">and area_parent_id = #{areaParentId}</if>
		</where>
	</sql>
	<sql id="SystemAreaUpdateCriteria">
		<set>
			<if test="updateAreaCode != null">area_code = #{updateAreaCode},</if>
			<if test="updateAreaName != null">area_name = #{updateAreaName},</if>
			<if test="updateAreaLevel != null">area_level = #{updateAreaLevel},</if>
			<if test="updateCityCode != null">city_code = #{updateCityCode},</if>
			<if test="updateCityCenter != null">city_center = #{updateCityCenter},</if>
			<if test="updateAreaParentId != null">area_parent_id = #{updateAreaParentId},</if>
		</set>
	</sql>
</mapper>