<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyl.ms.modules.system.mapper.SystemRoleMenuMapper">
	<resultMap type="org.zyl.ms.modules.system.entity.SystemRoleMenu" id="SystemRoleMenu">
		<id column="id" property="id"/>
		<result column="role_id" 			property="roleId"/>
		<result column="menu_id" 			property="menuId"/>
	</resultMap>
 
	<insert id="create" parameterType="org.zyl.ms.modules.system.entity.SystemRoleMenu">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_system_role_menu(
			role_id,
			menu_id
		)values(
			#{roleId},
			#{menuId}
		)
	</insert>

	<select id="query" resultMap="SystemRoleMenu">
		select * from tb_system_role_menu
		<include refid="SystemRoleMenuFindCriteria"/>
		<if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
		<if test="offset!=null and rows!=null">limit ${rows} offset ${offset}</if>
	</select>
	
	<select id="count" resultType="int">
		select count(1) from tb_system_role_menu
		<include refid="SystemRoleMenuFindCriteria"/>
	</select>
	
	<select id="detail" resultMap="SystemRoleMenu">
		select * from tb_system_role_menu
		<include refid="SystemRoleMenuFindCriteria"/>
		limit 1
	</select>
	
	<delete id="delete">
		delete from tb_system_role_menu
		<include refid="SystemRoleMenuFindCriteria" />
	</delete>
	<update id="update">
		update tb_system_role_menu
		<include refid="SystemRoleMenuUpdateCriteria"/>
		<include refid="SystemRoleMenuFindCriteria"/>
	</update>
	<sql id="SystemRoleMenuFindCriteria">
		<where>
			<if test="roleId != null">and role_id = #{roleId}</if>
			<if test="menuId != null">and menu_id = #{menuId}</if>
		</where>
	</sql>
	<sql id="SystemRoleMenuUpdateCriteria">
		<set>
			<if test="updateRoleId != null">role_id = #{updateRoleId},</if>
			<if test="updateMenuId != null">menu_id = #{updateMenuId},</if>
		</set>
	</sql>
</mapper>