{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block index_redirction %}
  {% if isin %}
    {{ url_for('home_page') }}
  {% else %}
    {{ url_for('index') }}
  {% endif %}
{% endblock %}


{% block nav_extends %}
  {{ super() }}
  {% if isin %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container" style="text-align: center; padding: 100px;">
    <img class="img-circle" src="../static/src/image/head_image/me.jpg" style="padding-bottom: 30px">
    <br>
    <a class="btn btn-default btn-large" href="http://user.qzone.qq.com/1823403153">
      <i class="glyphicon glyphicon-user"></i>
      QZONE
    </a>
  </div>
{% endblock %}
