{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block index_redirction %}
  {{ url_for('home_page') }}
{% endblock %}


{% block nav_extends %}
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block content %}
  <!-- search -->
  <div class="clearfix">
    <div class="input-append input-prepend" style="text-align: center">
      <form class="form-signin" action="{{ url_for('home_page') }}" method="post">
        <label class="sr-only"></label>
        {{ form.csrf_token }}
        {{ form.body(placeholder='Search', class='placeholder input-lg') }}

        <button type="submit" class="btn btn-primary btn-lg">
          <i class="glyphicon glyphicon-search"></i>
        </button>

        <a href="{{ url_for('editor') }}">
          <button type="button" class="btn btn-info btn-lg">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </a>

        <a href="{{ url_for('upload_file') }}">
          <button type="button" class="btn btn-info btn-lg">
            <i class="glyphicon glyphicon-upload"></i>
          </button>
        </a>
      </form>
    </div>
  </div>


  <!-- editor list -->
  <div class="container">
    <br>
    {% for post in posts %}
      <a href="{{ url_for('view', it=post.id) }}" class="list-group-item">
        <h4 class="list-group-item-heading">
          <b class="text-warning">{{ post.title }}</b>
        </h4>

        <p class="text-danger" style="text-align: right">{{ post.timestamp.isocalendar() }}</p>

        <p class="list-group-item-text">
          {% if post.body|length > 150 %}
            {{ post.body[:100]|safe }}
          {% else %}
            {{ post.body|safe }}
          {% endif %}
        </p>

      </a>
    {% endfor %}
  </div>

{% endblock %}

{% block script %}

  {{ super() }}
  <script type="text/javascript">
  </script>

{% endblock %}