{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}

{% block content %}
  <div class="container" style="width: 300px;">
    <form class="form-signin" action="{{ url_for("sign_in") }}" method="post">
      <h2 class="form-signin-heading">Please Sign In</h2>

      <label class="sr-only">Email address</label>
      <span class="text-warning">
      {% if form.email.errors %}
        {{ form.email.errors[0] }}
      {% endif %}
      </span>
      {{ form.email(placeholder='Email address', class='form-control') }}
      <br>

      <label class="sr-only">Password</label>
      <span class="text-warning">
      {% if form.password.errors %}
        {{ form.password.errors[0] }}
      {% endif %}
      </span>
      {{ form.password(placeholder='Password', class='form-control') }}

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      {{ form.csrf_token }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
  </div>
{% endblock %}