{% extends 'base.html' %}

{% block title %}
  upload
{% endblock %}

{% block index_redirction %}
  {{ url_for('home_page') }}
{% endblock %}

{% block nav_extends %}
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block content %}

  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div style="text-align: center">
        <label class="btn btn-default btn-file btn-lg" style="margin-top: 15%">
          <input type="file" name="file">
        </label>
      </div>

      <br>

      <div style="text-align: center">
        <button type="submit" class="btn btn-primary btn-lg">
          <i class="glyphicon glyphicon-upload"></i>
        </button>
      </div>
    </form>
  </div>

{% endblock %}