<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyl.ms.modules.user.mapper.UserAddressMapper">
	<resultMap type="org.zyl.ms.modules.user.entity.UserAddress" id="UserAddress">
		<id column="id" property="id"/>
		<result column="user_id" 			property="userId"/>
		<result column="receiver_name" 			property="receiverName"/>
		<result column="receiver_phone" 			property="receiverPhone"/>
		<result column="addr_province" 			property="addrProvince"/>
		<result column="addr_city" 			property="addrCity"/>
		<result column="addr_area" 			property="addrArea"/>
		<result column="addr_detail" 			property="addrDetail"/>
		<result column="addr_code" 			property="addrCode"/>
		<result column="addr_postcode" 			property="addrPostcode"/>
		<result column="tag" 			property="tag"/>
		<result column="is_default" 			property="isDefault"/>
		<result column="create_time" 			property="createTime"/>
		<result column="update_time" 			property="updateTime"/>
	</resultMap>
 
	<insert id="create" parameterType="org.zyl.ms.modules.user.entity.UserAddress">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_address(
			user_id,
			receiver_name,
			receiver_phone,
			addr_province,
			addr_city,
			addr_area,
			addr_detail,
			addr_code,
			addr_postcode,
			tag,
			is_default,
			create_time,
			update_time
		)values(
			#{userId},
			#{receiverName},
			#{receiverPhone},
			#{addrProvince},
			#{addrCity},
			#{addrArea},
			#{addrDetail},
			#{addrCode},
			#{addrPostcode},
			#{tag},
			#{isDefault},
			now(),
			now()
		)
	</insert>

	<select id="query" resultMap="UserAddress">
		select * from tb_user_address
		<include refid="UserAddressFindCriteria"/>
		<if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
		<if test="offset!=null and rows!=null">limit ${rows} offset ${offset}</if>
	</select>
	
	<select id="count" resultType="int">
		select count(1) from tb_user_address
		<include refid="UserAddressFindCriteria"/>
	</select>
	
	<select id="detail" resultMap="UserAddress">
		select * from tb_user_address
		<include refid="UserAddressFindCriteria"/>
		limit 1
	</select>
	
	<delete id="delete">
		delete from tb_user_address
		<include refid="UserAddressFindCriteria" />
	</delete>
	<update id="update">
		update tb_user_address
		<include refid="UserAddressUpdateCriteria"/>
		<include refid="UserAddressFindCriteria"/>
	</update>
	<sql id="UserAddressFindCriteria">
		<where>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="receiverName != null">and receiver_name = #{receiverName}</if>
			<if test="receiverPhone != null">and receiver_phone = #{receiverPhone}</if>
			<if test="addrProvince != null">and addr_province = #{addrProvince}</if>
			<if test="addrCity != null">and addr_city = #{addrCity}</if>
			<if test="addrArea != null">and addr_area = #{addrArea}</if>
			<if test="addrDetail != null">and addr_detail = #{addrDetail}</if>
			<if test="addrCode != null">and addr_code = #{addrCode}</if>
			<if test="addrPostcode != null">and addr_postcode = #{addrPostcode}</if>
			<if test="tag != null">and tag = #{tag}</if>
			<if test="isDefault != null">and is_default = #{isDefault}</if>
		</where>
	</sql>
	<sql id="UserAddressUpdateCriteria">
		<set>
			<if test="updateUserId != null">user_id = #{updateUserId},</if>
			<if test="updateReceiverName != null">receiver_name = #{updateReceiverName},</if>
			<if test="updateReceiverPhone != null">receiver_phone = #{updateReceiverPhone},</if>
			<if test="updateAddrProvince != null">addr_province = #{updateAddrProvince},</if>
			<if test="updateAddrCity != null">addr_city = #{updateAddrCity},</if>
			<if test="updateAddrArea != null">addr_area = #{updateAddrArea},</if>
			<if test="updateAddrDetail != null">addr_detail = #{updateAddrDetail},</if>
			<if test="updateAddrCode != null">addr_code = #{updateAddrCode},</if>
			<if test="updateAddrPostcode != null">addr_postcode = #{updateAddrPostcode},</if>
			<if test="updateTag != null">tag = #{updateTag},</if>
			<if test="updateIsDefault != null">is_default = #{updateIsDefault},</if>
			<if test="updateCreateTime != null">create_time = #{updateCreateTime},</if>
			<if test="updateUpdateTime != null">update_time = #{updateUpdateTime},</if>
		</set>
	</sql>
</mapper>