<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyl.ms.modules.user.mapper.UserRoleMapper">
	<resultMap type="org.zyl.ms.modules.user.entity.UserRole" id="UserRole">
		<id column="id" property="id"/>
		<result column="user_id" 			property="userId"/>
		<result column="role_id" 			property="roleId"/>
		<result column="role_name" 			property="roleName"/>
	</resultMap>
 
	<insert id="create" parameterType="org.zyl.ms.modules.user.entity.UserRole">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_role(
			user_id,
			role_id,
			role_name
		)values(
			#{userId},
			#{roleId},
			#{roleName}
		)
	</insert>

	<select id="query" resultMap="UserRole">
		select * from tb_user_role
		<include refid="UserRoleFindCriteria"/>
		<if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
		<if test="offset!=null and rows!=null">limit ${rows} offset ${offset}</if>
	</select>
	
	<select id="count" resultType="int">
		select count(1) from tb_user_role
		<include refid="UserRoleFindCriteria"/>
	</select>
	
	<select id="detail" resultMap="UserRole">
		select * from tb_user_role
		<include refid="UserRoleFindCriteria"/>
		limit 1
	</select>
	
	<delete id="delete">
		delete from tb_user_role
		<include refid="UserRoleFindCriteria" />
	</delete>
	<update id="update">
		update tb_user_role
		<include refid="UserRoleUpdateCriteria"/>
		<include refid="UserRoleFindCriteria"/>
	</update>
	<sql id="UserRoleFindCriteria">
		<where>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="roleId != null">and role_id = #{roleId}</if>
			<if test="roleName != null">and role_name = #{roleName}</if>
		</where>
	</sql>
	<sql id="UserRoleUpdateCriteria">
		<set>
			<if test="updateUserId != null">user_id = #{updateUserId},</if>
			<if test="updateRoleId != null">role_id = #{updateRoleId},</if>
			<if test="updateRoleName != null">role_name = #{updateRoleName},</if>
		</set>
	</sql>
</mapper>