*{*margin:0px;padding:0px;}
body{padding:0px 5px 0px 5px;*padding:0px 5px 10px 5px;margin:0px;}
#body1{
	width:100%;
}
input[hidden='0'],select[hidden='0']{
	display:inline-block;
}
input.bigstatic1,select.bigstatic1,textarea.bigstatic1{ 
    border: 1px solid #c0bbb4; 
    background: #e6e6e6 top left repeat-x; 
    color: #000066;  
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal;  
    line-height: normal;
}
.auto{ 
    border: 1px solid #c0bbb4; 
    background: #f9fbd5 top left repeat-x; 
    color:blue; 
    font-style: normal; 
    font-variant: normal;  
    line-height: normal;
}
.tip {
    position:absolute;
    display:none;
    text-align:center;
    font-size:9pt;
    font-weight:bold;
    z-index:65535;
    background-color:#DE7293;
    color:white;
    padding:10px;
}
.websign{display:inline;margin:0;padding:0;}

.navTab{
    list-style-type:none;
    margin:0px;
    height:30px;
    float:left;
}

.navTab li{
    float:left;cursor:pointer;
    font-size:14px;
    text-align:center;
    font-weight:bold;
    width:70px;
    padding-left:3px;
}

.navTab li.left{
    background:url('/images/folder_tabs_bg.png') left top no-repeat;
}
.navTab li.right{
    background:url('/images/folder_tabs_bg.png') right top no-repeat;   
}

.navTab li span{
   padding-top:8px;
   display:block;
   color:#383838;
   height:22px !important;
   height:30px;
   cursor:pointer;
}

.navTab li.navTab_On{
   background:url('/images/folder_tabs_bg.png') left -30px no-repeat;
   border:none;
}

.navTab li.navTab_On span{
   color:#383838 !important;
   background:url('/images/folder_tabs_bg.png') right -60px no-repeat;
}

#form_body{
    padding:0px;
    margin:0px;   
    background:#ffffff;
    border-left:1px #cccccc solid;
    border-right:1px #cccccc solid;
    overflow:auto;
    width:100%;
   	clear:both;
}
#info_title {
    display:block;
    float:left;
    font-size:14px;
    font-weight:bold;
    *padding-top:5px;
    height:30px;
    line-height:30px; 
    overflow:hidden;
    /*border-bottom:1px #cccccc solid;*/
}

#op_flag {
    display:block;
    float:right;
    font-size:12px;
    font-weight:bold;
    *padding-top:3px;
    height:30px;
    line-height:30px; 
    overflow:hidden;
}

#form_control {
    height:41px;
    line-height:41px;
    background:#ffffff;
    border-top:1px #cccccc solid;
    border-bottom:1px #cccccc solid;
    border-left:1px #cccccc solid;
    border-right:1px #cccccc solid;
}

.control_tbl {
    height:35px;
}
.input-error{border-color:red;}
.input-error-msg{color:red;}

/***************新建工作左侧树兼容firefox、chrome、opera、safari 	add by ts 2011-12-27 16:50***************************/

.BlockTop2 td.center{
   width:258px;
}


.BlockBottom2 td.center{
   width:258px;
}

#tree_container{
	width:238px;
	*width: 100%;
}

ul.dynatree-container{
	padding-bottom:0px !important;
	padding-right:0px !important;
}

#search{
	width:210px;
	*width:200px;
	margin-left:7px;
}

#left{
	padding-bottom:10px;
}

input.BigStatic,textarea.BigStatic {font-size: 10pt;padding: 1px 5px;  border: 1px solid #C0BBB4; background: #E0E0E0;}

/*  block型表格样式  */
.TableBlock{
   border:1px #124164 solid;
   line-height:20px;
   font-size:9pt;
   border-collapse:collapse;
   padding:3px;
}
.TableBlock td{
   padding:3px;
   color:#000000;
}
.TableBlock .TableHeader td,
.TableBlock td.TableHeader{
   background:url("list_hd_bg.png");
   border-bottom:1px #9F9F9F solid;
   border-right:1px #606275 solid;
   font-weight:bold;
   color:#124164;
   line-height:25px;
}
.TableBlock .TableLine1 td,
.TableBlock td.TableLine1{
   background:#F8F8F8;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableLine2 td,
.TableBlock td.TableLine2{
   background:#FFFFFF;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableData td,
.TableBlock td.TableData{
   background:#FFFFFF;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableContent td,
.TableBlock td.TableContent{
   background:#F0F0F0;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}
.TableBlock .TableFooter td,
.TableBlock .TableControl td,
.TableBlock td.TableFooter,
.TableBlock td.TableControl{
   background: url("footer_bg.png") bottom left;
   border-top:1px #606275 solid;
}
.TableBlock .TableRed td,
.TableBlock td.TableRed
{
   background:#FFEBEB;
}

.TableBlock .TableLeft td,
.TableBlock td.TableLeft{
   background:#F0F0F0;
   border-bottom:1px #606275 solid;
   border-right:1px #606275 solid;
}

.Content{
   line-height:normal;
   word-wrap:break-word;
   word-break:break-all;  
}

.TableControl a{
   color:#124164;
   text-decoration: none;
}

.TableBlock .TableRowHover td,
.TableBlock td.TableRowHover
{
   background:#E2E5E6;
}

.TableBlock .TableRowActive td,
.TableBlock td.TableRowActive
{
   background:#7D95A5;
   color:#FFFFFF;
}

.no-left-border{
   border-left:0px !important;
}
.no-top-border{
   border-top:0px !important;
}
.no-right-border{
   border-right:0px !important;
}
.no-bottom-border{
   border-bottom:0px !important;
}

